html, body, main{
  width: 100%;
}

form.signup,
form.login {
  margin-top: 50px;
}

.msg {
  color: red
}

*{
  font-family: 'Rajdhani', sans-serif;
}

h1{
  font-weight: 600;
}

h2, th, h4{
  font-weight: 500;
}


.navbar-brand{
  font-size: 24pt !important;
  padding-left: 10px;
}


.col-1, .col-11, .col{
  padding: 0px;
}

#walletBox{
  position: fixed;
  top: 8%;
  margin: 10px 5%;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
  border-bottom: solid 1px rgb(70, 69, 69) ;
} 

#walletBox button{
  align-self: center;
  height: 50%;
}

#walletBox h1{
  align-self: center;
}

#buffer{
  height: 100px;
}

main{
  padding: 5%;
}

table{
  width: 100%;
}
table td{
  width: 20%;
}

#walletInfo{
  text-align: center;
  margin: 20px 0px;
  padding-top: 30px
}

#walletInfo table{
  margin: auto;
}

#walletInfo td{
  font-size: small;
  width: 20%;
}

#total{
  text-align: center;
  padding: 30px;
  margin: 20px 0px;
  border-right: solid 1px rgb(112, 112, 112);
  border-left: solid 1px  rgb(112, 112, 112);
}

#total p{
  font-size: 32pt;
}

#costChart{
  text-align: center;
  padding: 30px;
  margin: 20px 0px;
}

#costChart div div{
  margin: auto;
}

#expenses{
  margin: auto;
  text-align: center;
}

#expensesHeader{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#expensesHeader h4{
  width: 20%;
}

#tableScroll{
  height: 500px;
  overflow: scroll;
  border: solid 1px rgb(112, 112, 112);;
}

#tableScroll tr{
  height: 50px;
  background-color: rgb(194, 191, 191);
  border: solid 5px white ;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1 im !important;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.red{
  color: red;
}

ul{
  list-style-type: none;
}

.cardHeader{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: auto;
}

.walletCard{
  cursor: pointer;
  margin: 10px;
}

.walletCard button {
  width: 30%;
}



@media (max-width: 550px) {

  #walletBox{
    display: block;
    text-align: center;
  }

  #buffer{
    height: 150px;
  }

}



@media (max-width: 700px) {
  td{
    font-size: small;
  }

  .hide{
    display: none;
  }

  table td{
    width: 25%;
  }

  #expensesHeader span{
    width: 25%;
  }
  
}


@media (max-width: 991px) {
 #total{
    border-right: none;
    border-left: none;
    border-bottom: solid 1px  rgb(112, 112, 112);
    border-top: solid 1px  rgb(112, 112, 112);
  }
}



